**Raw Zone**

It has 3 Tables.
- Account: Database dataverse_salestrial_xxx. It's pushed from Dynamics Sales via Synapse link for Dataverse.
- xxx_their_sales: Database dataverse_dataopsdefau_xxx. It's pushed from Dataverse via Synapse link for Dataverse. It was loaded to dataverse from a csv file.
- our_sales: Database raw. It's loaded from a csv file using notebook script.

**Prepare RAW**

In [6]:
%%sql
CREATE DATABASE raw;

StatementMeta(, 5, -1, Finished, Available)

In [21]:
%%sql
drop table standardised.our_sales

StatementMeta(sparkpool, 9, 20, Finished, Available)

In [20]:
%%pyspark

spark.conf.set("fs.azure.account.auth.type", "SAS")
spark.conf.set("fs.azure.sas.token.provider.type", "com.microsoft.azure.synapse.tokenlibrary.ConfBasedSASProvider")
spark.conf.set("spark.storage.synapse.sas", "SAS Token")

our_sales_file_path = "abfss://synfs@dataopsstg01.dfs.core.windows.net/our_sales.csv"
our_sales_raw_table_path = "abfss://raw@dataopsstg01.dfs.core.windows.net/our_sales"

df = spark.read.csv(our_sales_file_path, header=True)
df.show()

df.write.option('path', our_sales_raw_table_path).saveAsTable("raw.our_sales")

StatementMeta(sparkpool, 9, 19, Finished, Available)

+----------+---------------+------------+-------------+----------------+--------+--------------+----------+------+--------+-------------------+-----+-----------+----------+--------------+------------+------------+----------------+-------------+---------------+-------------------+---------------+----------------+-----------+----------------+--------+---------+
| OrderDate|       Category|        City|      Country|    CustomerName|Discount|       OrderID|PostalCode|Profit|Quantity|            Account|Sales|    Segment|  ShipDate|      ShipMode|       State|Sub_Category|DaystoShipActual|SalesForecast|     ShipStatus|DaystoShipScheduled|OrderProfitable|SalesperCustomer|ProfitRatio|SalesaboveTarget|latitude|longitude|
+----------+---------------+------------+-------------+----------------+--------+--------------+----------+------+--------+-------------------+-----+-----------+----------+--------------+------------+------------+----------------+-------------+---------------+-------------------+---------------+----------------+-----------+----------------+--------+---------+
| 4/01/2011|Office Supplies|     Houston|United States|   Darren Powers|     0.2|CA-2011-103800|     77095|     6|       2|  Northwind Traders|   16|   Consumer| 8/01/2011|Standard Class|       Texas|       Paper|               4|           22|  Shipped Early|                  6|           null|           16.45|       33.8|            null| 29.8941| -95.6481|
| 5/01/2011|Office Supplies|  Naperville|United States|   Phillina Ober|     0.2|CA-2011-112326|     60540|     4|       3|  Northwind Traders|   12|Home Office| 9/01/2011|Standard Class|    Illinois|      Labels|               4|           15|  Shipped Early|                  6|           null|           11.78|       36.3|            null| 41.7662|  -88.141|
| 5/01/2011|Office Supplies|  Naperville|United States|   Phillina Ober|     0.8|CA-2011-112326|     60540|    -5|       2|  Northwind Traders|    4|Home Office| 9/01/2011|Standard Class|    Illinois|     Binders|               4|            5|  Shipped Early|                  6|           null|            3.54|       -155|            null| 41.7662|  -88.141|
| 5/01/2011|Office Supplies|  Naperville|United States|   Phillina Ober|     0.2|CA-2011-112326|     60540|   -65|       3|  Northwind Traders|  273|Home Office| 9/01/2011|Standard Class|    Illinois|     Storage|               4|          357|  Shipped Early|                  6|           null|          272.74|      -23.8|            null| 41.7662|  -88.141|
| 6/01/2011|Office Supplies|Philadelphia|United States|      Mick Brown|     0.2|CA-2011-141817|     19143|     5|       3|A Datum Corporation|   20|   Consumer|13/01/2011|Standard Class|Pennsylvania|         Art|               7|           26|   Shipped Late|                  6|           null|           19.54|         25|            null| 39.9448| -75.2288|
| 7/01/2011|Office Supplies|      Athens|United States|    Jack OBriant|       0|CA-2011-106054|     30605|     5|       3|       Fabrikam Inc|   13|  Corporate| 8/01/2011|   First Class|     Georgia|         Art|               1|           17|Shipped On Time|                  1|           null|           12.78|         41|            null| 33.9321| -83.3525|
| 7/01/2011|Office Supplies|   Henderson|United States|   Maria Etezadi|       0|CA-2011-167199|     42420|     0|       4|       Fabrikam Inc|   31|Home Office|11/01/2011|Standard Class|    Kentucky|   Fasteners|               4|           41|  Shipped Early|                  6|           null|           31.12|          1|            null| 37.8274| -87.5632|
| 7/01/2011|Office Supplies|   Henderson|United States|   Maria Etezadi|       0|CA-2011-167199|     42420|   274|       2|       Fabrikam Inc|  610|Home Office|11/01/2011|Standard Class|    Kentucky|     Binders|               4|          799|  Shipped Early|                  6|           null|          609.98|         45|            null| 37.8274| -87.5632|
| 7/01/2011|Office Supplies|   Henderson|United States|   Maria Etezadi|       0|CA-2011-167199|     42420|     1|       2|       Fabrikam Inc|    5|Home Office|11/01/2011|Standard Class|    Kentucky|         Art|               4|            7|  Shipped Early|                  6|           null|            5.48|         27|            null| 37.8274| -87.5632|
| 7/01/2011|Office Supplies|   Henderson|United States|   Maria Etezadi|       0|CA-2011-167199|     42420|     3|       1|       Fabrikam Inc|    7|Home Office|11/01/2011|Standard Class|    Kentucky|       Paper|               4|            9|  Shipped Early|                  6|           null|            6.54|         46|            null| 37.8274| -87.5632|
| 7/01/2011|Office Supplies| Los Angeles|United States|Lycoris Saunders|       0|CA-2011-130813|     90049|     9|       3|   Alpine Ski House|   19|   Consumer| 9/01/2011|  Second Class|  California|       Paper|               2|           25|  Shipped Early|                  3|           null|           19.44|         48|            null|  34.066| -118.474|
| 8/01/2011|Office Supplies|  Huntsville|United States|Vivek Sundaresam|     0.8|CA-2011-105417|     77340|   -18|       7|  Northwind Traders|   10|   Consumer|13/01/2011|Standard Class|       Texas|     Binders|               5|           14|  Shipped Early|                  6|           null|           10.43|       -175|            null| 30.6448| -95.5798|
|10/01/2011|Office Supplies|      Laredo|United States|   Melanie Seite|     0.2|CA-2011-135405|     78041|     1|       2|  Northwind Traders|    9|   Consumer|14/01/2011|Standard Class|       Texas|         Art|               4|           12|  Shipped Early|                  6|           null|            9.34|       12.5|            null| 27.5569| -99.4907|
|11/01/2011|Office Supplies| Springfield|United States|  Anthony Jacobs|       0|CA-2011-149020|     22153|     1|       1|       Fabrikam Inc|    3|  Corporate|16/01/2011|Standard Class|    Virginia|      Labels|               5|            4|  Shipped Early|                  6|           null|            2.89|         47|            null| 38.7449|  -77.237|
|14/01/2011|Office Supplies|Bossier City|United States| Chris Selesnick|       0|CA-2011-162775|     71111|    25|       3|       Fabrikam Inc|   51|  Corporate|16/01/2011|  Second Class|   Louisiana|   Envelopes|               2|           67|  Shipped Early|                  3|           null|           50.94|         50|            null| 32.5449| -93.7038|
|14/01/2011|Office Supplies|Bossier City|United States| Chris Selesnick|       0|CA-2011-162775|     71111|    34|       6|       Fabrikam Inc|  573|  Corporate|16/01/2011|  Second Class|   Louisiana|     Storage|               2|          750|  Shipped Early|                  3|           null|          572.58|          6|            null| 32.5449| -93.7038|
|14/01/2011|Office Supplies|Bossier City|United States| Chris Selesnick|       0|CA-2011-162775|     71111|     5|       2|       Fabrikam Inc|   11|  Corporate|16/01/2011|  Second Class|   Louisiana|   Envelopes|               2|           15|  Shipped Early|                  3|           null|           11.36|         47|            null| 32.5449| -93.7038|
|14/01/2011|Office Supplies|Bossier City|United States| Chris Selesnick|       0|CA-2011-162775|     71111|     3|       3|       Fabrikam Inc|    6|  Corporate|16/01/2011|  Second Class|   Louisiana|     Binders|               2|            7|  Shipped Early|                  3|           null|            5.64|         48|            null| 32.5449| -93.7038|
|14/01/2011|Office Supplies|      Newark|United States|   Michael Moore|     0.7|CA-2011-118192|     43055|    -3|       2|A Datum Corporation|    3|   Consumer|19/01/2011|Standard Class|        Ohio|     Binders|               5|            5|  Shipped Early|                  6|           null|            3.44|      -73.3|            null| 40.0724| -82.4046|
|14/01/2011|Office Supplies|      Newark|United States|   Michael Moore|     0.2|CA-2011-118192|     43055|    13|       7|A Datum Corporation|   37|   Consumer|19/01/2011|Standard Class|        Ohio|       Paper|               5|           49|  Shipped Early|                  6|           null|           37.41|         35|            null| 40.0724| -82.4046|
+----------+---------------+------------+-------------+----------------+--------+--------------+----------+------+--------+-------------------+-----+-----------+----------+--------------+------------+------------+----------------+-------------+---------------+-------------------+---------------+----------------+-----------+----------------+--------+---------+
only showing top 20 rows

**Prepare Standardised**

In [22]:
%%pyspark
from pyspark.sql.functions import to_date

spark.conf.set("fs.azure.account.auth.type", "SAS")
spark.conf.set("fs.azure.sas.token.provider.type", "com.microsoft.azure.synapse.tokenlibrary.ConfBasedSASProvider")
spark.conf.set("spark.storage.synapse.sas", "SAS Token")

df = spark.sql("SELECT * FROM `raw`.`our_sales`")

df = df.select('OrderDate','City','State','Country','Account','Sales')
date_format = "d/MM/yyyy"
df = df.withColumn("OrderDate", to_date("OrderDate", date_format))

df.show()

our_sales_standardised_table_path = "abfss://standardised@dataopsstg01.dfs.core.windows.net/our_sales"

df.write.option('path', our_sales_standardised_table_path).saveAsTable("standardised.our_sales")

StatementMeta(sparkpool, 9, 21, Finished, Available)

+----------+------------+------------+-------------+-------------------+-----+
| OrderDate|        City|       State|      Country|            Account|Sales|
+----------+------------+------------+-------------+-------------------+-----+
|2011-01-04|     Houston|       Texas|United States|  Northwind Traders|   16|
|2011-01-05|  Naperville|    Illinois|United States|  Northwind Traders|   12|
|2011-01-05|  Naperville|    Illinois|United States|  Northwind Traders|    4|
|2011-01-05|  Naperville|    Illinois|United States|  Northwind Traders|  273|
|2011-01-06|Philadelphia|Pennsylvania|United States|A Datum Corporation|   20|
|2011-01-07|      Athens|     Georgia|United States|       Fabrikam Inc|   13|
|2011-01-07|   Henderson|    Kentucky|United States|       Fabrikam Inc|   31|
|2011-01-07|   Henderson|    Kentucky|United States|       Fabrikam Inc|  610|
|2011-01-07|   Henderson|    Kentucky|United States|       Fabrikam Inc|    5|
|2011-01-07|   Henderson|    Kentucky|United States|       Fabrikam Inc|    7|
|2011-01-07| Los Angeles|  California|United States|   Alpine Ski House|   19|
|2011-01-08|  Huntsville|       Texas|United States|  Northwind Traders|   10|
|2011-01-10|      Laredo|       Texas|United States|  Northwind Traders|    9|
|2011-01-11| Springfield|    Virginia|United States|       Fabrikam Inc|    3|
|2011-01-14|Bossier City|   Louisiana|United States|       Fabrikam Inc|   51|
|2011-01-14|Bossier City|   Louisiana|United States|       Fabrikam Inc|  573|
|2011-01-14|Bossier City|   Louisiana|United States|       Fabrikam Inc|   11|
|2011-01-14|Bossier City|   Louisiana|United States|       Fabrikam Inc|    6|
|2011-01-14|      Newark|        Ohio|United States|A Datum Corporation|    3|
|2011-01-14|      Newark|        Ohio|United States|A Datum Corporation|   37|
+----------+------------+------------+-------------+-------------------+-----+
only showing top 20 rows

In [26]:
%%pyspark
from pyspark.sql.functions import regexp_replace

df = spark.sql("SELECT name, address1_city,address1_stateorprovince, address1_country FROM `dataverse_salestrial_unqd3841b9b46bf426aa84737d42b716`.`account`")
df = df.withColumn('name', regexp_replace('name', ',', ''))
df = df.withColumn('name', regexp_replace('name', '\\.', ''))

spark.conf.set("fs.azure.account.auth.type", "SAS")
spark.conf.set("fs.azure.sas.token.provider.type", "com.microsoft.azure.synapse.tokenlibrary.ConfBasedSASProvider")
spark.conf.set("spark.storage.synapse.sas", "SAS Token")

account_standardised_table_path = "abfss://standardised@dataopsstg01.dfs.core.windows.net/account"

df.write.option('path', account_standardised_table_path).saveAsTable("standardised.account")

StatementMeta(sparkpool, 5, 30, Finished, Available)

+-------------------+-------------+------------------------+----------------+
|               name|address1_city|address1_stateorprovince|address1_country|
+-------------------+-------------+------------------------+----------------+
|       Fabrikam Inc|     Lynnwood|               Tennessee|   United States|
|  Northwind Traders|     Columbus|                    Ohio|   United States|
|A Datum Corporation|      Redmond|              Washington|   United States|
|   Alpine Ski House|       Dallas|                   Texas|   United States|
|      Trey Research|San Francisco|              California|   United States|
+-------------------+-------------+------------------------+----------------+

In [37]:
%%pyspark
from pyspark.sql.functions import to_date

spark.conf.set("fs.azure.account.auth.type", "SAS")
spark.conf.set("fs.azure.sas.token.provider.type", "com.microsoft.azure.synapse.tokenlibrary.ConfBasedSASProvider")
spark.conf.set("spark.storage.synapse.sas", "SAS Token")

df = spark.sql("SELECT * FROM `dataverse_dataopsdefau_unq042b19474c3144c393404d6c48e70`.`cr673_their_sales`")

df = df.select('cr673_OrderDate','cr673_City','cr673_State','cr673_Country','cr673_Account','cr673_Sales')
date_format = "yyyy-MM-d"
df = df.withColumn("cr673_OrderDate", to_date("cr673_OrderDate", date_format))

df.show()

our_sales_standardised_table_path = "abfss://standardised@dataopsstg01.dfs.core.windows.net/their_sales"

df.write.option('path', our_sales_standardised_table_path).saveAsTable("standardised.their_sales")

StatementMeta(sparkpool, 9, 36, Finished, Available)

+---------------+--------------+--------------+-------------+-------------------+-----------+
|cr673_OrderDate|    cr673_City|   cr673_State|cr673_Country|      cr673_Account|cr673_Sales|
+---------------+--------------+--------------+-------------+-------------------+-----------+
|     2011-01-07|     Henderson|      Kentucky|United States|       Fabrikam Inc|       2574|
|     2011-01-07|     Henderson|      Kentucky|United States|       Fabrikam Inc|        392|
|     2011-01-08|    Huntsville|         Texas|United States|  Northwind Traders|         77|
|     2011-01-07|     Henderson|      Kentucky|United States|       Fabrikam Inc|        756|
|     2011-01-12|         Dover|      Delaware|United States|A Datum Corporation|         10|
|     2011-01-14|Mount Pleasant|South Carolina|United States|       Fabrikam Inc|        546|
|     2011-01-11|   Springfield|      Virginia|United States|       Fabrikam Inc|         52|
|     2011-01-10|        Laredo|         Texas|United States|  Northwind Traders|         31|
|     2011-01-14|  Bossier City|     Louisiana|United States|       Fabrikam Inc|        647|
|     2011-01-14| San Francisco|    California|United States|   Alpine Ski House|        334|
|     2011-01-15|  Philadelphia|  Pennsylvania|United States|A Datum Corporation|         62|
|     2011-01-16|       Roswell|       Georgia|United States|       Fabrikam Inc|        150|
|     2011-01-20|    Scottsdale|       Arizona|United States|   Alpine Ski House|        181|
|     2011-01-21|     Jonesboro|      Arkansas|United States|       Fabrikam Inc|         39|
|     2011-01-17|  Philadelphia|  Pennsylvania|United States|A Datum Corporation|        127|
|     2011-01-17|  Philadelphia|  Pennsylvania|United States|A Datum Corporation|        124|
|     2011-01-21|   Los Angeles|    California|United States|   Alpine Ski House|         19|
|     2011-01-21|     Jonesboro|      Arkansas|United States|       Fabrikam Inc|       1068|
|     2011-01-21|      Westland|      Michigan|United States|  Northwind Traders|        273|
|     2011-01-21|      Westland|      Michigan|United States|  Northwind Traders|         15|
+---------------+--------------+--------------+-------------+-------------------+-----------+
only showing top 20 rows

**Curated Layer**

In [14]:
%%sql
CREATE DATABASE curated;

StatementMeta(sparkpool, 9, 13, Finished, Available)

In [17]:
%%pyspark
from pyspark.sql.functions import regexp_replace

spark.conf.set("fs.azure.account.auth.type", "SAS")
spark.conf.set("fs.azure.sas.token.provider.type", "com.microsoft.azure.synapse.tokenlibrary.ConfBasedSASProvider")
spark.conf.set("spark.storage.synapse.sas", "SAS Token")

df = spark.sql("SELECT name, address1_city,address1_stateorprovince, address1_country FROM `standardised`.`account`")
df = df.withColumnRenamed("address1_city", "city")\
       .withColumnRenamed("address1_stateorprovince", "stateorprovince")\
       .withColumnRenamed("address1_country", "country")\

df.show()
account_curated_table_path = "abfss://curated@dataopsstg01.dfs.core.windows.net/account"

df.write.option('path', account_curated_table_path).saveAsTable("curated.account")

StatementMeta(sparkpool, 9, 16, Finished, Available)

+-------------------+-------------+---------------+-------------+
|               name|         city|stateorprovince|      country|
+-------------------+-------------+---------------+-------------+
|       Fabrikam Inc|     Lynnwood|      Tennessee|United States|
|  Northwind Traders|     Columbus|           Ohio|United States|
|A Datum Corporation|      Redmond|     Washington|United States|
|   Alpine Ski House|       Dallas|          Texas|United States|
|      Trey Research|San Francisco|     California|United States|
+-------------------+-------------+---------------+-------------+

In [60]:
%%pyspark
from pyspark.sql.functions import to_date
from pyspark.sql.functions import date_trunc

df_our = spark.sql("SELECT * FROM `standardised`.`our_sales`")
df_our = df_our.withColumn('OrderDate', date_trunc('month', df_our['OrderDate']))

df_their = spark.sql("SELECT * FROM `standardised`.`their_sales`")
df_their = df_their.withColumnRenamed("cr673_OrderDate", "OrderDate")
df_their = df_their.withColumn('OrderDate', date_trunc('month', df_their['OrderDate']))

StatementMeta(sparkpool, 9, 59, Finished, Available)

In [64]:
df_our = df_our.orderBy('OrderDate')
df_their = df_their.orderBy('OrderDate')

merged_df = df_our.join(df_their, on='OrderDate', how='inner')

merged_df = merged_df.withColumnRenamed("City", "Our_City")\
       .withColumnRenamed("State", "Our_State")\
       .withColumnRenamed("Country", "Our_Country")\
       .withColumnRenamed("Sales", "Our_Sales")\
       .withColumnRenamed("cr673_City", "Their_City")\
       .withColumnRenamed("cr673_State", "Their_State")\
       .withColumnRenamed("cr673_Country", "Their_Country")\
       .withColumnRenamed("cr673_Account", "Their_Account")\
       .withColumnRenamed("cr673_Sales", "Their_Sales")\

merged_df.show()

sales_curated_table_path = "abfss://curated@dataopsstg01.dfs.core.windows.net/sales"

merged_df.write.option('path', sales_curated_table_path).saveAsTable("curated.sales")

StatementMeta(sparkpool, 9, 63, Finished, Available)

+-------------------+--------+---------+-------------+-----------------+---------+-------------+------------+-------------+-------------------+-----------+
|          OrderDate|Our_City|Our_State|  Our_Country|          Account|Our_Sales|   Their_City| Their_State|Their_Country|      Their_Account|Their_Sales|
+-------------------+--------+---------+-------------+-----------------+---------+-------------+------------+-------------+-------------------+-----------+
|2011-01-01 00:00:00| Houston|    Texas|United States|Northwind Traders|       16|   Alexandria|    Virginia|United States|       Fabrikam Inc|        155|
|2011-01-01 00:00:00| Houston|    Texas|United States|Northwind Traders|       16|   Alexandria|    Virginia|United States|       Fabrikam Inc|        188|
|2011-01-01 00:00:00| Houston|    Texas|United States|Northwind Traders|       16|   Rapid City|South Dakota|United States|  Northwind Traders|        142|
|2011-01-01 00:00:00| Houston|    Texas|United States|Northwind Traders|       16|    San Diego|  California|United States|   Alpine Ski House|        333|
|2011-01-01 00:00:00| Houston|    Texas|United States|Northwind Traders|       16|    Jonesboro|    Arkansas|United States|       Fabrikam Inc|        700|
|2011-01-01 00:00:00| Houston|    Texas|United States|Northwind Traders|       16|        Miami|     Florida|United States|       Fabrikam Inc|         25|
|2011-01-01 00:00:00| Houston|    Texas|United States|Northwind Traders|       16|   Alexandria|    Virginia|United States|       Fabrikam Inc|         12|
|2011-01-01 00:00:00| Houston|    Texas|United States|Northwind Traders|       16|   Alexandria|    Virginia|United States|       Fabrikam Inc|         63|
|2011-01-01 00:00:00| Houston|    Texas|United States|Northwind Traders|       16|     Westland|    Michigan|United States|  Northwind Traders|         15|
|2011-01-01 00:00:00| Houston|    Texas|United States|Northwind Traders|       16|     Westland|    Michigan|United States|  Northwind Traders|        273|
|2011-01-01 00:00:00| Houston|    Texas|United States|Northwind Traders|       16|    Jonesboro|    Arkansas|United States|       Fabrikam Inc|       1068|
|2011-01-01 00:00:00| Houston|    Texas|United States|Northwind Traders|       16|  Los Angeles|  California|United States|   Alpine Ski House|         19|
|2011-01-01 00:00:00| Houston|    Texas|United States|Northwind Traders|       16| Philadelphia|Pennsylvania|United States|A Datum Corporation|        124|
|2011-01-01 00:00:00| Houston|    Texas|United States|Northwind Traders|       16| Philadelphia|Pennsylvania|United States|A Datum Corporation|        127|
|2011-01-01 00:00:00| Houston|    Texas|United States|Northwind Traders|       16|    Jonesboro|    Arkansas|United States|       Fabrikam Inc|         39|
|2011-01-01 00:00:00| Houston|    Texas|United States|Northwind Traders|       16|   Scottsdale|     Arizona|United States|   Alpine Ski House|        181|
|2011-01-01 00:00:00| Houston|    Texas|United States|Northwind Traders|       16|      Roswell|     Georgia|United States|       Fabrikam Inc|        150|
|2011-01-01 00:00:00| Houston|    Texas|United States|Northwind Traders|       16| Philadelphia|Pennsylvania|United States|A Datum Corporation|         62|
|2011-01-01 00:00:00| Houston|    Texas|United States|Northwind Traders|       16|San Francisco|  California|United States|   Alpine Ski House|        334|
|2011-01-01 00:00:00| Houston|    Texas|United States|Northwind Traders|       16| Bossier City|   Louisiana|United States|       Fabrikam Inc|        647|
+-------------------+--------+---------+-------------+-----------------+---------+-------------+------------+-------------+-------------------+-----------+
only showing top 20 rows

In [65]:
df_our = spark.sql("SELECT * FROM `curated`.`sales`")

spark.conf.set("fs.azure.account.auth.type", "SAS")
spark.conf.set("fs.azure.sas.token.provider.type", "com.microsoft.azure.synapse.tokenlibrary.ConfBasedSASProvider")
spark.conf.set("spark.storage.synapse.sas", "SAS Token")

path = "abfss://synfs@dataopsstg01.dfs.core.windows.net/c_ss.csv"

df_our.write.option("header",True).csv(path)

StatementMeta(sparkpool, 9, 64, Finished, Available)

In [63]:
%%sql
drop table curated.sales

StatementMeta(sparkpool, 9, 62, Finished, Available)